# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTeX documentation
*.aux
*.bbl
*.blg
*.log
*.pdf
*.toc
*.html
*.css

*.gcda
*.gcno
*.lst
modtable.txt
*.nml
!genunits.nml
!geninput_*.nml
test_*
!test_*.f90
src/rev.f90
rev.tex
src/units.f90
src/geninput_*.f90
src/geninput_*.tex
docs/geninput_*.tex
!test/test_read_springer_namelist.nml
docs/springer-example.nml
springer-example.csv
docs/pneumatic-example.nml
docs/blastersim-out-*.txt
docs/blastersim.txt
docs/blastersim_bibertool.bib
defaults.tex
docs/defaults.tex
missed.txt
*.opt.yaml
*.optrpt
*.pdb
blastersim
blastersim.exe
example.csv
